<!DOCTYPE html>
{% extends 'indexpg.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bikes</title>
</head>
<body>
    
        <form method="post" action="{% url 'updatecategory' dataid=data.id %}" enctype="multipart/form-data">
            {% csrf_token %}
        <label for="make">Category:</label><br>
        <input type="text" id="make" value="{{data.Category}}" name="category"><br>
        <label for="company">Description:</label><br>
        <input type="text" id="company" value="{{data.CatDescription}}" name="catdescription"><br><br>
        <div>
            <input type="file" name="catimage">
        </div>
        <input type="submit" class="btn btn-success" value="Submit">
        
        
      </form> 
</body>
</html>
{% endblock %}