<!DOCTYPE html>
{% extends "findex.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a>
        <section class="ftco-section">
            <div class="container">
                    <div class="row justify-content-center mb-3 pb-3">
              <div class="col-md-12 heading-section text-center ftco-animate">
                  <div class="feturedsection">
                    <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E D<span class="carstxt">C A T E G O R Y</span>&bullet;</h1>
                </div>
              </div>
            </div>   		
            </div>
            <div class="container">
                <div class="row">
                    {% for d in da %}
                    <div  class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                        <div>
                            <center>
                            <a href="{% url 'category' itemcat=d.Category %}" class="img-prod"><img class="img-fluid" style="width: 280px; height: 200px;" src="{{d.CatImage.url}}" alt="Colorlib Template">
                                
                        </center>
                        </div>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">{{d.Category}}</a></h3>
                                
                                <div class="d-flex">
                                    <div class="text py-3 pb-4 px-3 text-center">
        
                                    <h3><a href="#">{{d.Description}}</a></h3>
                                    
                                    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
        
                    </div>
                    {% endfor %} 
                   
                           
                  
                    
                   
                </div>
            </div>
        </section>
    </a>
</body>
</html>
{% endblock %}