<!DOCTYPE html>
{% extends "findex.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center"> LATEST BIKES NEWS  </h1> <br>  <br> 
    <iframe style="height: 1000px; width:1300px; border-color: white;"  src="https://www.rushlane.com/category/bikes-news"></iframe>
</body>
</html>
{% endblock %}